 body{
    background-color: rgb(211, 234, 211);
}
.top-bar{
    text-align: center;
}
main{
    text-align: center;
    font-size: 2em;
}
.retangulo{
    background-color: rgb(251, 253, 251);
    height: 30px;
}
.botao_cadastro{
    background-color: darkgreen;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 20px;
}